<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="custom.js"></script>

  <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">

</head>
<body>
  <header>
    <div class="sidebar">

      <img src="images/green.png" style="height:100px; width:100px">
      <br><br>
      <a href="index.html"><i class="fa fa-fw fa-home"></i> Home</a>
      <br><br>
      <a href="services.html"><i class="fa fa-fw fa-wrench"></i> Services</a>
      <br><br>
      <a href="doctors.html"><i class="fas fa-fw fa-user-md"></i>Doctors</a>
      <br><br>
      <a href="about.html"><i class="fa fa-fw fa-info-circle"></i>About Us</a>
      <br><br>
      <a href="contact.html"><i class="fa fa-fw fa-envelope"></i> Contact</a>
      <br><br>
      <a href="sign.html"><i class="fas fa-sign-in-alt"></i> Sign In</a>
</div>
    </header>  

  <div class="main">

    <div class="about">

      <div class="container" id="navtitle">

        <div class="row justify-content-center text-center">
          <div class="col-12">
            <h1 class="display-3"style="text-align: center; color: #003B00; ">About Us </h1>
            <hr >
          </div>

          <div class="col-12">
            <h2 style="color: #003B00;"> <b>Build With Secure Informations</b></h2>
            <br><br>
            <div class="mt-4">
              <a href="contact.html" id="contactbtn" class="text-white"> <b style=" color:#33691e">Contact Us</b> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container">

      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">

          <h3><i><b>We believe in compassion</b></i></h3>
          <p class="para">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;That’s why we sit down when we talk to you. Look you in the eye. Never judge you.

            And that’s why Tend is our name. We took the first four letters of “dental,” mixed them up, and turned them into a word about caring for others.

          We tend to the whole you. Not just your teeth.</p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img src="images/about1.jpg" class="img-fluid" style="width:100%; height:400px">

        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img src="images/about2.jpg" class="img-fluid" style="width:100%; height:500px">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h3><i><b>Our dentists aren’t paid a commission on procedures</b></i></h3>
          <p class="para">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Most dentists are paid a commission on procedures. This can lead to more procedures than you need. We eliminate this by paying our dentists a great salary with a bonus that rewards them for guest satisfaction. Our dentists love this. It lets them focus on providing outstanding care, instead of worrying about their productivity.</p>
        </div>
      </div>


    </div>
    <hr>


    <div id="about_counter">
      <div class="contatiner p-5">
        <div class="row text-white text-center">
          <div class="col-lg-4 col-md-12 col-sm-12" >
            <h1 style="color: white;"><i class="fas fa-tooth fa-2x"></i></h1><br>
            <h4 style="color: white; "><b>Teeth Whitening</b></h4>
            <br> <h6 style="color: white; "><b>Whitening is among the most popular dental procedures because it can greatly improve how your teeth look. </b></h6>

          </div>
          <div class="col-lg-4 col-md-12 col-sm-12" >
            <h1 style="color: white; "><i class="fas fa-file-medical fa-2x"></i></h1><br>
            <h4 style="color: white; "><b>Certified Dentists</b></h4>
            <br> <h6 style="color: white; "><b>Dental anesthesia is a field of anesthesia that includes not only local but sedation and general anesthesia. </b></h6>


          </div>
          <div class="col-lg-4 col-md-12 col-sm-12" >
            <h1 style="color: white; "> <i class="fas fa-heartbeat fa-2x"></i></h1> <br>
            <h4 style="color: white; "><b>Cleaning of Teeth</b></h4>
            <br> <h6 style="color: white; "><b>Teeth cleaning is part of oral hygiene and involves the removal of dental plaque from teeth (dental caries)</b></h6>
          </div>
        </div> 
      </div>
    </div>  


    <div class="container">
      <h2 style="text-align:center"><b>Why Choose Us? </b></h2>
      <br>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="container">
          <div class="panel-group" id="accordion">


            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">1. Complete Heath Dentistry</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;They say the eyes are the windows to the soul. If that’s true, then the mouth is the front door. Our mouths are a gateway for illness, affecting the wellness of our entire body. Dental bacteria has been shown to play a contributing role in many serious health conditions, including heart disease, diabetes, stroke and even Alzheimer’s. The Surgeon General reports that 80% of American adults have gum disease. That’s four out of every five people! It’s because of this direct link between the wellness of the mouth and the wellness of the body that high-quality dental care is so crucial.

                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;At Atlanta Dental Spa we take a comprehensive approach to dentistry, building a healthy body from the foundation of a healthy mouth; a true focus on total health. Healthy gus lower our risk for developing diabetes, pancreatic cancer and kidney cancer, while gum therapy improves blood vessel health and helps prevent heart attack and stroke. This is because the same plaque that builds up on our teeth can build up in our arteries and heart, creating blockages. Proper dental care calls for a visit to the dentist twice a year. This is likely more often than you see any other physician, especially if you’re generally in good health.

                Complete health dentistry means your dentist can spot warning signs and even diagnose dangerous health conditions while you’re in the chair, sometimes when you’re completely unaware there’s a problem.</div>
              </div>
            </div>


            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">2. Warranty and Customer Satisfaction Guarantee</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It’s uncommon to offer a warranty in the dental industry, but at Atlanta Dental Spa we put our money where our mouth is. We stand by our work, offering a five-year warranty on most services. We’d venture to guess that you won’t find many practices who can offer the same. Patient satisfaction is one of our main goals as it pertains to your care. We understand that everyone makes mistakes. We admit that sometimes, that includes us. But rest assured that if something goes wrong, we’re going to do everything in our power to make it right.</div>
              </div>
            </div>


            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">3.Top Reviewed. Top Rated, but we’re not bragging </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;What’s the first thing you do when you’re thinking of using a business? You Google them! Your dentist should be no different. Online reviews are honest and straightforward, they’re a great way to get an unfiltered look at what other patients really think of a company. You’ll find Atlanta Dental Spa has hundreds of independent Google reviews for our three locations, with additional reviews on Yelp, Dr Oogle and Kudzu, just to name a few. We let our satisfied patients do the talking.</div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">4. Awards and Training</a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you want an award-winning smile, you need an award-winning dentist. As you’re considering a dentist, check out their accolades, industry honors and special certifications. If they’re not displayed prominently on the website or in the office, ask about them! Some of the significant industry organizations to look for include the American Dental Association, the Academy of Comprehensive Esthetics, the Academy of General Dentistry and the American Academy of Cosmetic Dentistry, among others.</div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">5. Awesome Technology</a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;When it comes to your smile you shouldn’t take shortcuts. Don’t settle for a practice that uses outdated equipment and decades-old technology. After all, if there’s a serious problem, you don’t want it to go undetected. We believe in investing our money back into the practice to offer our patients the most advanced dental technology on the market.

                  Our technology includes:

                  <p class="panel-body"><i class="fas fa-check-circle"></i>3D X-ray – CT Scan</p>
                  <p class="panel-body"><i class="fas fa-check-circle"></i>Trios Intraoral Scanner</p>
                  <p class="panel-body"><i class="fas fa-check-circle"></i>Laser Cavity Detection</p>
                  <p class="panel-body"><i class="fas fa-check-circle"></i>Periodontal Treatment that works</p>
                  <p class="panel-body"><i class="fas fa-check-circle"></i>OralDNA testing</p>
                  <p class="panel-body"><i class="fas fa-check-circle"></i>Velscope Oral Cancer Screening</p>


                </div>
              </div>
            </div>


            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">6. The Golden Rule</a>
                </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse in">
                <div class="panel-body">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You want to choose a dentistry team that truly cares, a team who is accessible and responds to your needs, who check in on you after a procedure to make sure everything is going as planned, even after the office doors have closed for the evening. The dedicated staff at Atlanta Dental Spa lives the golden rule every day. We treat patients exactly as we’d treat our own family member and how we’d hope to be treated if the roles were reversed and we were the ones sitting in the dentist’s chair. We do it because we care!

                </div>
              </div>
            </div>





          </div>
        </div>
      </div>


    </div>

<footer>
  <div class="container" id="foot">

</div>
</footer>
  </div>
