<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fontss/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fontss/Linearicons-Free-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/util.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <!--===============================================================================================-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="custom.js"></script>

  <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">

</head>
<body>
  <header>
    <div class="sidebar">

      <img src="images/green.png" style="height:100px; width:100px">
      <br><br>
      <a href="index.html"><i class="fa fa-fw fa-home"></i> Home</a>
      <br><br>
      <a href="services.html"><i class="fa fa-fw fa-wrench"></i> Services</a>
      <br><br>
      <a href="doctors.html"><i class="fas fa-fw fa-user-md"></i>Doctors</a>
      <br><br>
      <a href="about.html"><i class="fa fa-fw fa-info-circle"></i>About Us</a>
      <br><br>
      <a href="contact.html"><i class="fa fa-fw fa-envelope"></i> Contact</a>
      <br><br>
      <a href="sign.html"><i class="fas fa-sign-in-alt"></i> Sign In</a>
    </div>
  </header>  


  <div class="main">

    <div class="contact">

      <div class="container" id="navtitle">

        <div class="row justify-content-center text-center">
          <div class="col-12">
            <h1 class="display-1"style="text-align: center; color: #003B00; ">Contact Us </h1>
            <hr >
          </div>

          <div class="col-12">
            <h2 style="color: #003B00; font-size: 30px"> <b>Just make a Contact with Us for your Teeth</b></h2>
            <br><br>
            <div class="mt-4">
              <a href="contact.html" id="contactbtn" class="text-white"> <b style=" color:#33691e">Contact Us</b> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>

    <div class="container">

      <div class="row">

        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="card">
            <div class="container-fluid">
              <h2 style="color: #003B00;; font-family:Wyutyi Koko">Address &nbsp;  <i class="fas fa-map-marked-alt fa-shaken"></i></h2>
              <p class="para"> 888 Broadway
              New York, NY, 18813 </p>

            </div>
          </div>

        </div>


        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="card">
            <div class="container-fluid">
              <h2 style="color: #003B00;; font-family:Wyutyi Koko">Phone &nbsp; <i class="fas fa-phone"></i></h2>
              <p class="para">+989-123-1234</p>

            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row">

        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="card">
            <div class="container-fluid">
              <h2 style="color: #003B00; font-family:Wyutyi Koko">Email &nbsp; <i class="fas fa-envelope-open-text"></i></h2>
              <p class="para"> info@greendental.com</p>
            </div>
          </div>
        </div>



        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="card">
            <div class="container-fluid">
              <h2 style="color: #003B00; font-family:Wyutyi Koko">Facebook &nbsp; <i class="fab fa-facebook"></i></h2>
              <p class="para"> greendental119@gmail.com</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br><br>
    <h2 style="font-size: 50px">Our VIP Patients Says</h2>
    <br><br>




    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
         <img src="images/cus1.jpg" class="img-fluid">
         <h2><i>Chris M.</i></h2>
         <p class="para"> &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;Fantastic team and experience. Coming from someone who has had some terrible past experiences that kept me out of a dental chair for several years, they were truly great. Clean, efficient, and a wonderful staff. <br><br>
         </p>

       </div>
       <div class="item">
         <img src="images/cus2.jpg" class="img-fluid">
         <h2><i>Michael W.</i></h2>
         <p class="para">
         &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;The team at Atlanta Dental Spa far surpassed any expectations on multiple occasions.  It’s rare to find such a competent group of people in a profession.  Specifically, Dr. Currie, Kelsi, and Jo-Beth run with dignity and respect. From the front of the office to Dentist’s chair in the back, one would find it difficult to find any negatives with this practice. 15/10! </p>
       </div>
       <div class="item">
         <img src="images/cus3.jpg" class="img-fluid">
         <h2><i>James Wan</i></h2>
         <p class="para">&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;Never would I have imagined I’d actually look forward to going to the dentist. This place is amazing.

         The decor is nice and modern, and the exam rooms have two TVs: one on the wall and one on the ceiling for you to watch during the exam. The whole place has a very tranquil feel about it.</p>
       </div>
       <div class="item">
         <img src="images/cus4.jpg" class="img-fluid">
         <h2><i>Joelle H.</i></h2>
         <p class="para">
         &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;ADS was recommended to me due to my severe dental anxiety. I must say I am SO GLAD to have found it!! The space is beautiful, very spa-like. They were so kind, thorough, and patient. They explained everything & took plenty of time when I needed a moment to chill. I had a numbing gel, noise cancelling headphones, a TV on the ceiling & thank God for the Nitrous oxide! </p>

       </div>
       <div class="item">
         <img src="images/cus5.jpg" class="img-fluid">
         <h2><i>Jamie K.</i></h2>
         <p class="para">
          &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;I found this dentist office on Yelp after I found it impossible to get my usual office on the phone to make an appointment, and I must say that I’m soooo glad that they were unavailable because I’ve found a new dental home!! They open really early! I had a 7:30a appointment. Everyone was friendly, thorough, informative, and professional and made me feel right at home!
        </p>

      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<br><br>



  <div class="container-contact100">
    <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

    <div class="wrap-contact100">
      <form class="contact100-form validate-form">
        <span class="contact100-form-title">
         <h2 style="font-family: abc; text-align: center">  Contact Us </h2>
       </span>

       <div class="wrap-input100 validate-input" data-validate="Name is required">
        <input class="input100" type="text" name="name" placeholder="Full Name">
        <span class="focus-input100-1"></span>
        <span class="focus-input100-2"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
        <input class="input100" type="text" name="email" placeholder="Email">
        <span class="focus-input100-1"></span>
        <span class="focus-input100-2"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate = "Message is required">
        <textarea class="input100" name="message" placeholder="Your Message"></textarea>
        <span class="focus-input100-1"></span>
        <span class="focus-input100-2"></span>
      </div>

      <div class="contact100-form-checkbox">
        <input class="input-checkbox100" id="ckb1" type="checkbox" name="copy-mail">
        <label class="label-checkbox100" for="ckb1">
          Send copy to my-email
        </label>
      </div>

      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn">
         Send Email
       </button>
     </div>
   </form>
 </div>
</div>
<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
<script src="js/map-custom.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>





</div>