<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="custom.js"></script>

  <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">

</head>
<body>
  <header>
    <div class="sidebar">

      <img src="images/green.png" style="height:100px; width:100px">
      <br><br>
      <a href="index.html"><i class="fa fa-fw fa-home"></i> Home</a>
      <br><br>
      <a href="services.html"><i class="fa fa-fw fa-wrench"></i> Services</a>
      <br><br>
      <a href="doctors.html"><i class="fas fa-fw fa-user-md"></i>Doctors</a>
      <br><br>
      <a href="about.html"><i class="fa fa-fw fa-info-circle"></i>About Us</a>
      <br><br>
      <a href="contact.html"><i class="fa fa-fw fa-envelope"></i> Contact</a>
      <br><br>
      <a href="sign.html"><i class="fas fa-sign-in-alt"></i> Sign In</a>
</div>
    </header>   

		<div class="main">
			<div class="profile">

				<div class="main">
 
					<div class="container" id="navtitle">

						<div class="row justify-content-center text-center">
							<div class="col-10">
								<h1 class="display-3"  style="text-align: center; color: #003B00; font-family:abc">Doctors Profile </h1>
								<hr >
							</div>

							<div class="col-12">
								<h2  style="color: #003B00;"> <b>The most outstanding doctors are here with u.</b></h2>
								<br><br>
								<div class="mt-4">
									<a href="contact.html" id="contactbtn" class="text-white"> <b style=" color:#33691e">Contact Us</b> </a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div></div>
			<br>
			<div class="main">
				<div class="container">
				<div class="row">

					<div class="col-lg-6 col-md-12 col-sm-12">

						<img src="images/do17.jpg" class="img-fluid">
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12">
						<div class="container" style="background-color:#003B00; height: 355px" >
							<h3 style="text-align: center; color:white;"><b >Jordan Green</b></h3>
							<hr>
							<h4 style="color:white; "><i class="fab fa-jenkins fa-2x"></i> 	&nbsp;Head Of Doctors (or) Founder</h4>
							<br>
							<h5 style="color:white;">  	&nbsp;	&nbsp;He is the founder of <i>Green Dental Clinic</i> who is graduated from the Harvard University, Major of Dental Medical.
							<br><br> 	&nbsp;	&nbsp;At His age of 24 to 45, he worked so many famous Clinic. And at age about of 48, he founded this Clinic.</h5>
							<br>
                   <h5 style="text-align: center; color:white"><b> Working Hours 	&nbsp;<i class="fas fa-business-time fa-1x"></i></b>	&nbsp; Every Only Sunday at 6am to 6pm</h5>
                       
						</div>
					</div>
				</div>
				</div>
			</div>
<br>
<div class="main">
	<div class="dohead">
<h2 style="text-align: center;"><b>Doctors Profile</b></h2>
</div>
</div>
<br>


			<div class="main">
				<div class="container-fluid">
					<div class="row">

						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do1.jpg" style="width: 400px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Sue Cornie</i></h3>
								<h4><i>Degree: :Speacilist </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Monday - 6am to 12pm</h5>
								<hr>
								<h5>Tuesday - 6am to 12pm</h5>
								<hr>
								<h5>Wednesday - 6am to 12pm</h5>


							</div>
							

						</div>

						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do2.jpg"   style="width: 400px">
							</div>
							<div class="container" style="background-color: #97c86a; height: 300px">

								<h3 style="text-align: center"><i>Johnathan</i></h3>
								<h4><i>Degree: :Speacilist </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Monday - 6am to 12pm</h5>
								<hr>
								<h5>Tuesday - 6am to 12pm</h5>
								<hr>
								<h5>Wednesday - 6am to 12pm</h5>

								
							</div>
							
							
						</div>

						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do3.jpg" style="width:300px">
							</div>
							<div class="container"style="background-color: #97c86a; height: 300px">

								<h3 style="text-align: center"><i>Flora James</i></h3>
								<h4><i>Degree: :Speacilist </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Monday - 12pm to 6pm</h5>
								<hr>
								<h5>Tuesday - 12pm to 6pm</h5>
								<hr>
								<h5>Wednesday - 12pm to 6pm</h5>

								
							</div>
							
							
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do4.jpg"   style="width: 400px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Ammy Lynn</i></h3>
								<h4><i>Degree: :Speacilist </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Monday - 12pm to 6pm</h5>
								<hr>
								<h5>Tuesday - 12pm to 6pm</h5>
								<hr>
								<h5>Wednesday - 12pm to 6pm</h5>

								
							</div>
							
							
						</div>

						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do5.jpg"   style="width: 400px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Glorry</i></h3>
								<h4><i>Degree: :Speacilist </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Thursday - 6am to 12pm</h5>
								<hr>
								<h5>Friday - 6am to 12pm</h5>
								<hr>
								<h5>Saturday- 6am to 12pm</h5>

								
							</div>
							
							
						</div>

						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do6.jpg"   style="width: 400px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Robert James</i></h3>
								<h4><i>Degree: :Speacilist </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Thursday - 6am to 12pm</h5>
								<hr>
								<h5>Friday - 6am to 12pm</h5>
								<hr>
								<h5>Saturday- 6am to 12pm</h5>
								
							</div>
							
							
						</div>


						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do7.jpg"   style="width: 400px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Selena Eyric</i></h3>
								<h4><i>Degree: :Speacilist </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Thursday - 12pm to 6pm</h5>
								<hr>
								<h5>Friday - 12pm to 6pm</h5>
								<hr>
								<h5>Saturday- 12pm to 6pm</h5>

							</div>


						</div>

						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do8.jpg"   style="width: 400px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Rose Suzy</i></h3>
								<h4><i>Degree: :Speacilist </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Thursday - 12pm to 6pm</h5>
								<hr>
								<h5>Friday - 12pm to 6pm</h5>
								<hr>
								<h5>Saturday- 12pm to 6pm</h5>

							</div>


						</div>

						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do9.png"   style="width: 400px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>David Shy</i></h3>
								<h4><i>Degree: :Speacilist </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Monday - 6am to 12pm</h5>
								<hr>
								<h5>Friday- 6am to 12pm</h5>
								<hr>
								<h5>Sunday 6am to 12pm</h5>


							</div>


						</div>

						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do10.png"   style="width: 400px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Trey Lotz</i></h3>
								<h4><i>Degree: :Speacilist </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Monday - 6am to 12pm</h5>
								<hr>
								<h5>Sunday - 6am to 12pm</h5>
								<hr>
								<h5>Sunday - 12pm to 6pm</h5>


							</div>


						</div>


						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/11.png"   style="width: 400px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Tylor Robert</i></h3>
								<h4><i>Degree: :Speacilist </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Monday - 12pm to 6pm</h5>
								<hr>
								<h5>Tuesday - 6am to 12pm</h5>
								<hr>
								<h5>Sunday - 12pm to 6pm</h5>

							</div>


						</div>



						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do12.jpg"   style="width: 400px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Britney Khloe</i></h3>
								<h4><i>Degree: :Speacilist </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Thursday - 12pm to 6pm</h5>
								<hr>
								<h5>Saturday- 12pm to 6pm</h5>
								<hr>
								<h5>Sunday - 12pm to 6pm</h5>


							</div>


						</div>



						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do13.jpg"   style="width: 400px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Roney James</i></h3>
								<h4><i>Degree: :Speacilist </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Monday - 6am to 12pm</h5>
								<hr>
								<h5>Tuesday - 6am to 12pm</h5>
								<hr>
								<h5>Wednesday - 6am to 12pm</h5>


							</div>


						</div>

						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do14.jpg"   style="width: 400px; height:300px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Isabella</i></h3>
								<h4><i>Degree: :Surgeon </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Monday - 6am to 6pm</h5>
								<hr>
								<h5>Tuesday - 6am to 6pm</h5>
								<hr>
								<h5>Wednesday - 6am to 6pm</h5>


							</div>


						</div>

						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do15.jpg"   style="width: 400px; height:296px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Ashely Trik</i></h3>
								<h4><i>Degree: :Surgeon </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Monday - 6am to 6pm</h5>
								<hr>
								<h5>Tuesday - 6am to 6pm</h5>
								<hr>
								<h5>Sunday - 6am to 12pm</h5>


							</div>


						</div>


						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do16.jpg"   style="width: 400px; height:300px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Jackson Park</i></h3>
								<h4><i>Degree: :Surgeon </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Thursday- 6am to 6pm</h5>
								<hr>
								<h5>Friday- 6am to 6pm</h5>
								<hr>
								<h5>Saturday - 6am to 6pm</h5>


							</div>


						</div>


						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do17.jpeg"   style="width: 400px;height:300px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Elizabeth</i></h3>
								<h4><i>Degree: :Surgeon </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Monday - 6am to 6pm</h5>
								<hr>
								<h5>Saturday- 6am to 6pm</h5>
								<hr>
								<h5>Sunday - 6am to 6pm</h5>


							</div>


						</div>

						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do18.png"   style="width: 400px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Emily Grace</i></h3>
								<h4><i>Degree: :Speacilist </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Monday - 6am to 12pm</h5>
								<hr>
								<h5>Tuesday - 6am to 12pm</h5>
								<hr>
								<h5>Wednesday - 6am to 12pm</h5>


							</div>


						</div>
						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do19.jpg"   style="width: 400px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Phillip Ray</i></h3>
								<h4><i>Degree: :Surgeon </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Monday - 12pm to 6pm</h5>
								<hr>
								<h5>Tuesday - 12pm to 6pm</h5>
								<hr>
								<h5>Wednesday - 12pm to 6pm</h5>


							</div>


						</div>
						<div class="col-lg-3 col-md-6 col-sm-12 my-3">
							<div class="img-hover-zoom">
								<img src="images/do20.jpg"   style="width: 400px">
							</div>
							<div class="container" style="background-color:#97c86a; height: 300px">

								<h3 style="text-align: center"><i>Cynthia James</i></h3>
								<h4><i>Degree: :Surgeon </i></h4>
								<hr>
								<h5 style="text-align: center"><b> Working Hours <i class="fas fa-briefcase fx-3a"></i></b></h5>
								<hr>
								<h5>Monday - 6am to 12pm</h5>
								<hr>
								<h5>Saturday - 6am to 12pm</h5>
								<hr>
								<h5>Sunday - 12pm to 6pm</h5>


							</div>


						</div>
					</div>
				</div>

			</div>
