<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="custom.js"></script>

  <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">

</head>
<body>
  <header>
    <div class="sidebar">

      <img src="images/green.png" style="height:100px; width:100px">
      <br><br>
      <a href="index.html"><i class="fa fa-fw fa-home"></i> Home</a>
      <br><br>
      <a href="services.html"><i class="fa fa-fw fa-wrench"></i> Services</a>
      <br><br>
      <a href="doctors.html"><i class="fas fa-fw fa-user-md"></i>Doctors</a>
      <br><br>
      <a href="about.html"><i class="fa fa-fw fa-info-circle"></i>About Us</a>
      <br><br>
      <a href="contact.html"><i class="fa fa-fw fa-envelope"></i> Contact</a>
      <br><br>
      <a href="sign.html"><i class="fas fa-sign-in-alt"></i> Sign In</a>
</div>
    </header>  

    <div class="banner">

      <div class="main">

        <div class="container" id="navtitle">

          <div class="row justify-content-center text-center">
            <div class="col-10">
              <h1 class="display-3" style="padding-left: 100px;color: #003B00; font-family:abc"> Welcome to Green Dental Clinic </h1>
              <hr >
            </div>

            <div class="col-12">
              <h2 style="color: #003B00;"> <b>We Are Professional Dental Clinic Based in New York </b></h2>
              <br><br>
              <div class="mt-4">
                <a href="contact.html" id="contactbtn" class="text-white"> <b style=" color:#33691e;">Contact Us</b> </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <br>

    <div class="main">
      <div class="container px-6">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="images/d2.jpg" style="width:500px; height:600px" class="img-fluid">
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6">
            <h3 style="color: #33691e; font-family: abc"> <b>WE PROMISE U</b></h3>
            <hr>
            <p style="word-spacing: 10px;font-family:abc; font-size: 20px"> Patients suffering from this condition suffer from morning stiffness, as well as burning, swelling, hypersensitivity, redness and frequent joint pain, which is why they have difficulty in mobility.</p>

            <h5 style="font-family: abc"><i class="fas fa-check-circle" style=" color: #33691e;"></i> Your Dental Informations are secure.</h5> 
            <br>
            <h5 style="font-family: abc"><i class="fas fa-check-circle" style="color: #33691e;"></i> The most outstanding doctors are here.</h5>

            <br>
            <h5 style="font-family: abc"><i class="fas fa-check-circle" style="color: #33691e;"></i> We Promise you to better teeth-health.</h5>

            <br>
            <h5 style="font-family: abc"><i class="fas fa-check-circle" style=" color: #33691e;"></i> We are always here with you.</h5>
            <br>
            <h5 style="font-family: abc"><i class="fas fa-check-circle" style=" color: #33691e;"></i> Every 6:00 am to 6:00 pm available.</h5>
            <br>
            <h5 style="font-family: abc"><i class="fas fa-check-circle" style=" color: #33691e;"></i>We Care You More than Yourself.</h5>
            <br>
            <h5 style="font-family: abc"><i class="fas fa-check-circle" style=" color: #33691e;"></i>Just Booking By Online System.</h5>
          </div>
        </div>
      </div>
    </div>
   
   

    <div class="main">
      <div id="counter">
        <div class="contatiner p-5">
          <div class="row text-white text-center">
            <div class="col-lg-4 col-md-12 col-sm-12" >
              <h1 style="color: white;"><i class="fas fa-stethoscope fa-2x"></i> </h1><br>
              <h4 style="color: white; ">Doctors-20</h4>

            </div>
            <div class="col-lg-4 col-md-12 col-sm-12" >
              <h1 style="color: white; "><i class="fas fa-procedures fa-2x"></i> </h1><br>
              <h4 style="color: white; ">nearly 1k Patients</h4>


            </div>
            <div class="col-lg-4 col-md-12 col-sm-12" >
              <h1 style="color: white; "> <i class="fas fa-award fa-2x"></i></h1> <br>
              <h4 style="color:white; ">over 25 Awards</h4>
            </div>
          </div> 
        </div>
      </div>  
    </div>
 <br>
 <div class="main">
      <h2 style="text-align:center;"><b style="color: #33691e; font-family: abc;  "> <i>We Hope For You</i></b></h2>

      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="img-hover-zoom">
            <img src="images/wp2.jpg" class="img-fluid" style="height:190px" >
            <h3 style="font-family: abc; text-align: center; color: #33691e;"> <i>For Whitest Teeth</i></h3>
            </div>

          </div>



          <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="img-hover-zoom">
            <img src="images/wp3.jpg" class="img-fluid" style="height:190px"  >
            <h3 style="font-family: abc; text-align: center; color: #33691e;"><i> For Brightest Smile</i></h3>
          </div>
          </div>


          <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="img-hover-zoom">
            <img src="images/wp4.jpg" class="img-fluid" style="height:190px"  >
            <h3 style="font-family: abc; text-align: center; color: #33691e;"> <i>For Beautiful Teeth</i></h3>

         </div>
          </div>


          <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="img-hover-zoom">
            <img src="images/wp5.jpg" class="img-fluid" style="height:190px">
            <h3 style="font-family: abc; text-align: center; color: #33691e;"> <i>For Young Teeth</i></h3>
           </div>

          </div>
        </div>
      </div>
    </div>











  </body>
  </html> 
